<div class="container">
	<div class="header">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<% if user_signed_in? %>
						<p>show something here</p>
					<% else %>
						<h1>Create an Account</h1>
						<p>
							Registering for this site is easy, just fill in the fields below and we will get a new account set up for you in no time.
						</p>						
						<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
	  						<%= devise_error_messages! %>
							<div class="field">
							   <%= f.label :username %><br />
							   <%= f.text_field :username %>
							</div>

							<div class="field">
							   <%= f.label :email %><br />
							  <%= f.email_field :email, autofocus: true %>
							</div>

							<div class="field">
							  <%= f.label :password %>
							  <% if @minimum_password_length %>
							  <em>(<%= @minimum_password_length %> characters minimum)</em>
							  <% end %><br />
							  <%= f.password_field :password, autocomplete: "off" %>
							</div>

							<div class="field">
							  <%= f.label :password_confirmation %><br />
							  <%= f.password_field :password_confirmation, autocomplete: "off" %>
							</div>

			    			<div>
			    				<%= f.submit "Sign up" %>
			    			</div>
						<% end %>
					<% end %>
				</div>
				<div class="col-lg-8">
					<h1>put something here</h1>
				</div>
			</div>
		</div>
	</div>

	<!-- it starts with a bla bla -->
	<section style="background-image: url('map-bg.png')no-repeat center center; background-size: contain;" >
		<h1 class="text-center">It all starts with a <span> date </span> </h1>
		<p class="text-center">
			You find us, finally, and you are already in love. More than 5.000.000 around the world already shared the same experience and uses our system. Joining us today just got easier!
		</p>
		<p class="text-center">
		 <%= link_to "Join Us Now", new_user_registration_path, class: "btn btn-primary", role: "button" %> 
		</p>
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<div>
						<%= image_tag 'hearts.png' %>
						<p><span>500</span><br> Members in Totals</p>
					</div>
				</div>
				<div class="col-lg-3">
					<div>
						<%= image_tag 'lovers.png' %>
						<p><span>500</span><br> Members in Online</p>
					</div>
				</div>
				<div class="col-lg-3">
					<div>
						<%= image_tag 'woman.png' %>
						<p><span>500</span><br> Women Online</p>
					</div>
				</div>
				<div class="col-lg-3">
					<div>
						<%= image_tag 'men.png' %>
						<p><span>500</span><br> Men Online</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="container">
			<h1 class="text-center">
				Sweet stories from our Lovers
			</h1>
			<p class="text-center">
				Every one loves a love story with a happy ending. Here you have some success stories from our blog section.
			</p>
			<div class="row">
				<div class="col-lg-4">
					<%= image_tag 'lovers.jpg' %>
					<h3>Image post format</h3>
					<p>Etiam vehicula odio est, sit amet volutpat nulla rutrum nec. Aliquam lorem diam, condimentum eu...</p>
					<p class="btn">Read more..</p>
				</div>
				<div class="col-lg-4">
					<%= image_tag 'couple.jpg' %>
					<h3>Couple of the Month</h3>
					<p>Etiam vehicula odio est, sit amet volutpat nulla rutrum nec. Aliquam lorem diam, condimentum eu...</p>
					<p class="btn">Read more..</p>
				</div>
				<div class="col-lg-4">
					<%= image_tag 'lovers.jpg' %>
					<h3>Image post format</h3>
					<p>Etiam vehicula odio est, sit amet volutpat nulla rutrum nec. Aliquam lorem diam, condimentum eu...</p>
					<p class="btn">Read more..</p>
				</div>
			</div>
	</section>
	
</div><!-- end container-->